
@model Skill

<section id="skill" class="skill">
<div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>Skill</h2>
    </div>
    <br/> 
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/img/portfolio/TenisSports.jpg" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> <input type="hidden" asp-for="@Model.Id" /></p>
                            <p class="card-text">@Model.Name</p>
                            <p class="card-text">@Model.Year</p>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
</section>

<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/main.js"></script>

<!-- Vendor JS Files -->

<script src="~/vendor/purecounter/purecounter.js"  asp-append-version="true"></script>
<script src="~/vendor/aos/aos.js"  asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"  asp-append-version="true"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"  asp-append-version="true"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"  asp-append-version="true"></script>
<script src="~/vendor/php-email-form/validate.js"  asp-append-version="true"></script>